* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

/* ----------------------------------------------------------------------- */

@font-face {
    font-family: 'Effra';
    src: url('../fonts/effta/Effra-Bold.eot');
}

@font-face {
    font-family: 'Effra';
    src: url('../fonts/effta/Effra-Bold.ttf');
}

@font-face {
    font-family: 'Effra';
    src: url('../fonts/effta/Effra-Bold.woff');
}

@font-face {
    font-family: 'Effra';
    src: url('../fonts/effta/Effra-Bold.woff2');
}

@font-face {
    font-family: 'Effra';
    src: url('../fonts/effta/Effra-Heavy.eot');
}

@font-face {
    font-family: 'Effra';
    src: url('../fonts/effta/Effra-Heavy.ttf');
}

@font-face {
    font-family: 'Effra';
    src: url('../fonts/effta/Effra-Heavy.woff');
}

@font-face {
    font-family: 'Effra';
    src: url('../fonts/effta/Effra-Heavy.woff2');
}

@font-face {
    font-family: 'Effra';
    src: url('../fonts/effta/Effra-Medium.eot');
}

@font-face {
    font-family: 'Effra';
    src: url('../fonts/effta/Effra-Medium.ttf');
}

@font-face {
    font-family: 'Effra';
    src: url('../fonts/effta/Effra-Medium.woff');
}

@font-face {
    font-family: 'Effra';
    src: url('../fonts/effta/Effra-Medium.woff2');

}

@font-face {
    font-family: 'Effra';
    src: url('../fonts/effta/Effra.eot');
}

@font-face {
    font-family: 'Effra';
    src: url('../fonts/effta/Effra.ttf');
}

@font-face {
    font-family: 'Effra';
    src: url('../fonts/effta/Effra.woff');
}

@font-face {
    font-family: 'Effra';
    src: url('../fonts/effta/Effra.woff2');
}

@font-face {
    font-family: 'GoodDog';
    src: url('../fonts/gooddognew.ttf');
}

/* FONTS------------------------------------------------------------------- */
body {
    font-family: 'Effra';
}

.d-flex {
    display: flex;
}

.container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

@media (max-width: 370px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.d-none {
    display: none;
}

.h-100pc {
    height: 100%;
}

/* ---------------------------------------------------------------------- */

.header {
    height: 100px;
    padding: 25px 0;
}

@media (min-width: 1200px) {
    .header {
        padding: 0;
    }
}


.logo {
    width: 40px;
    height: 40px;
}


@media (min-width: 1400px) {
    .logo {
        min-width: 170px;
    }
}

.logo__text {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    padding-left: 10px;
    color: #fff;
}

@media (min-width: 1000px) {
    .logo__text {
        display: inline;
    }
}


.logo__link {
    display: block;
    height: 40px;
}


.header__navigation {
    width: 885px;
}

@media (min-width: 1000px) {
    .header__navigation {
        width: 730px;
    }
}

.navigation__menu {
    min-width: 490px;
    height: 22px;
}

.navigation__buttons {
    min-width: 215px;
}

.header-navigation__list {
    margin-top: 15px;
    height: 22px;
}

@media (min-width: 1000px) {
    .header-navigation__list {
        margin-top: 10px;
    }
}

.header-navigation__list li {
    margin-right: 40px;
}

.header-navigation__list li:last-child {
    margin: 0;
}

@media (min-width: 1000px) {
    .header__navigation {
        display: block;
    }
}


.header-hamburger_navigation {
    margin: 32px 0;
}

.events-blocked {
    pointer-events: none;
}

.hamburger-menu {
    top: 0;
    position: absolute;
    padding: 24px 0 80px;
    background: #000;
    font-size: 18px;
    text-align: center;
    width: 100%;
    max-height: 100%;
    z-index: 1010;
    overflow-y: scroll;
}

.header_humburger_btn_wrapper {
    width: 24px;
    height: 24px;
}

@media (min-width: 1000px) {
    .header_humburger_btn_wrapper {
        display: none;
    }
}

@media (min-width: 1400px) {
    .header_humburger_btn_wrapper {
        display: none;
    }
}

.header_humburger_btn {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.header_humburger_btn--collapsed {
    background: url('../img/header/icon.svg') center center no-repeat;
}

.header_humburger_btn--expanded {
    background: url('../img/icons/cross.png') center center no-repeat;
}

.header-nav_cross {
    align-self: center;
}

.header_cross {
    background: none;
}

.header-nav {
    padding-bottom: 100px;
}

.header-hamburger_navigation li {
    margin-bottom: 40px;
}

@media screen and (min-width: 1400px) {
    .header-inner {
        margin: 0 -60px;
        height: 100px;
    }
}

.nav-link {
    color: #fff;
    font-size: 18px;
}

.button-login {
    display: block;
    color: #fff;
    font-size: 18px;
    margin-bottom: 40px;
    background: none;
}

@media (min-width: 1000px) {
    .button-login {
        margin: 0;
    }
}

@media (min-width: 1400px) {
    .button-login {
        margin: 0;
    }
}

.button-Register {
    display: block;
    font-size: 18px;
    width: 130px;
    height: 40px;
    border-radius: 40px;
    background: #fff;
}

.hamburger-menu-backdrop {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.section-one {
    margin-top: -100px;
    height: 800px;
    background: #000;
    background-image: url('../img/bg/Ornament.svg');
    background-position: center center;
    background-size: 300% auto;
}

@media (min-width: 1000px) {
    .section-one {
        height: 600px;
    }
}

@media (min-width: 1400px) {
    .section-one {
        background-size: cover;
        min-height: 900px;
    }
}

@media (min-width: 1400px) {
    .section-one_text {
        width: 700px;
        margin-top: 100px;
    }
}

.section-one_wrapper {
    padding: 145px 25px 0;
    flex-direction: column;
    text-align: center;
}

.section-one_title {
    color: #fff;
    font-size: 36px;
    font-weight: 800;
    line-height: 112%;
    margin-bottom: 16px;
}

@media (min-width: 1400px) {
    .section-one_title {
        font-size: 72px;
    }
}

.section-one_paragraph {
    color: #8B8B8B;
    line-height: 150%;
    margin-bottom: 32px;
}

@media (min-width: 1000px) {
    .section-one_paragraph {
        font-size: 20px;
    }
}

@media (min-width: 1400px) {
    .section-one_paragraph {
        font-size: 18px;
        margin-bottom: 40px;
    }
}

.section-one_button {
    width: 140px;
    height: 45px;
    border-radius: 40px;
    background: #A8FF35;
    font-weight: 700;
}

@media (min-width: 760px) {
    .section-one_button {
        width: 160px;
        height: 55px;
        font-size: 16px;
    }
}

@media (min-width: 1000px) {
    .section-one_button {
        margin-left: 100px;
    }
}

@media (min-width: 1400px) {
    .section-one_button {
        width: 180px;
        height: 60px;
        font-size: 18px;
    }
}

.section-one__arrow {
    width: 100px;
    font-family: 'GoodDog', sans-serif;
    color: #fff;
    margin-left: 20px;
}

@media (min-width: 1000px) {
    .section-one__arrow {
        display: block;
    }
}

.section-one__arrow--text {
    transform: rotate(6deg);
}

.section-one__arrow--img {
    width: 40px;
    height: 45px;
}

.section-one_networks {
    width: 100%;
    color: #fff;
    font-family: 'roboto', sans-serif;
    font-size: 20px;
    position: relative;
}

.swiper {
    width: 100%;
}

@media (min-width: 1000px) {
    .swiper {
        display: none;
    }
}

.swiper-slide {
    width: 64px;
}

.swiper__img {
    width: 31px;
    height: 31px;
}

.section-one_networks-size {
    background: #181818;
    width: 295px;
    padding: 20px 0;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.8);
}

@media (max-width: 370px) {
    .section-one_networks-size {
        width: 255px;
        padding: 10px 0;
        font-size: 16px;
        align-items: center;
    }
}

@media (min-width: 1400px) {
    .section-one_networks-size {
        font-size: 24px;
        padding: 30px 0;
        width: 340px;
        height: 82px;
    }
}

.section-one_networks-icon_info {
    background: center center no-repeat;
    width: 30px;
    height: 30px;
    margin: -4px 12px 0 35px;
}

@media (min-width: 1400px) {
    .section-one_networks-icon_info {
        width: 32px;
        height: 32px;
    }
}

.section-one_twitter-bg {
    background-image: url('../img/main/section1/network/twiter.png');
    background-size: contain;
}

.section-one_printerest-bg {
    background-image: url('../img/main/section1/network/Pinterest.png');
    background-size: contain;
}

.section-one_faceboook-bg {
    background-image: url('../img/main/section1/network/facebook.png');
    background-size: contain;
}

.section-one_ball-bg {
    background-image: url('../img/main/section1/network/ball.png');
    background-size: contain;
}

.section-one__button--wrapper {
    padding-bottom: 50px;
}

.section-one_twitter {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(-4deg);
    z-index: 3;
}

@media (min-width: 400px) {
    .section-one_twitter {
        left: 20px;
    }
}

@media (min-width: 760px) {
    .section-one_twitter {
        left: 200px;
    }
}

@media (min-width: 1000px) {
    .section-one_twitter {
        top: 15px;
        left: 20px;
    }
}

@media (min-width: 1200px) {
    .section-one_twitter {
        left: 0;
        top: 0;
    }
}

.section-one_printerest {
    position: absolute;
    left: 0;
    top: 70px;
    transform: rotate(2deg);
    z-index: 2;
}

@media (max-width: 370px) {
    .section-one_printerest {
        top: 55px;
    }
}

@media (min-width: 400px) {
    .section-one_printerest {
        left: 20px;
    }
}

@media (min-width: 760px) {
    .section-one_printerest {
        left: 200px;
    }
}

@media (min-width: 1200px) {
    .section-one_printerest {
        left: 170px;
        top: 55px;
    }
}

.section-one_facebook {
    position: absolute;
    left: 0;
    top: 140px;
    transform: rotate(-2deg);
    z-index: 1;
}

@media (max-width: 370px) {
    .section-one_facebook {
        top: 100px;
    }
}

@media (min-width: 400px) {
    .section-one_facebook {
        left: 20px;
    }
}


@media (min-width: 760px) {
    .section-one_facebook {
        left: 200px;
    }
}

@media (min-width: 1000px) {
    .section-one_facebook {
        left: 380px;
        top: 25px;
    }
}

@media (min-width: 1200px) {
    .section-one_facebook {
        left: 450px;
        top: 0;
    }
}

.section-one_ball {
    position: absolute;
    left: 0;
    top: 210px;
    transform: rotate(4deg);
}

@media (max-width: 370px) {
    .section-one_ball {
        top: 150px;
    }
}

@media (min-width: 400px) {
    .section-one_ball {
        left: 20px;
    }
}

@media (min-width: 760px) {
    .section-one_ball {
        left: 200px;
    }
}

@media (min-width: 1000px) {
    .section-one_ball {
        left: 580px;
        top: 75px;
    }
}

@media (min-width: 1200px) {
    .section-one_ball {
        left: 720px;
        top: 55px;
    }
}

.section-two {
    background: #A8FF35;
    padding: 80px 0;
}

@media (max-width: 370px) {
    .section-two {
        padding: 40px 0;
    }
}

@media (min-width: 400px) {
    .section-two {
        padding: 40px 0;
    }
}

@media (min-width: 1400px) {
    .section-two {
        padding: 140px 0;
    }
}

.section-two_title {
    font-weight: 700;
    font-size: 36px;
    line-height: 112%;
    margin-bottom: 30px;
    text-align: center;
}

@media (min-width: 1400px) {
    .section-two_title {
        font-size: 72px;
    }
}

@media (min-width: 1400px) {
    .section-two--wrapper {
        align-items: center;
    }
}

.section-two_block {
    padding-bottom: 35px;
}

@media (min-width: 760px) {
    .section-two_block {
        padding-left: 200px;
    }
}

@media (min-width: 1000px) {
    .section-two_block {
        padding-left: 300px;
    }
}

@media (min-width: 1400px) {
    .section-two_block {
        padding-left: 0;
        align-items: center;
        display: flex;
    }
}

.section-two_block_arrow-top {
    text-align: center;
    width: 95px;
    font-family: 'GoodDog';
    font-size: 12px;
    margin-left: 250px;
    position: relative;
    top: 25px;
}

@media (max-width: 370px) {
    .section-two_block_arrow-top {
        margin-left: 210px;
    }
}

@media (min-width: 400px) {
    .section-two_block_arrow-top {
        margin-left: 300px;
    }
}

@media (min-width: 1000px) {
    .section-two_block_arrow-top {
        font-size: 16px;
        margin-left: 300px;
    }
}

@media (min-width: 1400px) {
    .section-two_block_arrow-top {
        order: 3;
        margin: 0;
        margin-left: 30px;
    }
}

.section-arrow {
    width: 30px;
    height: 35px;
}

@media (min-width: 1400px) {
    .one_tab_now-arrow--mobile {
        display: none;
    }
}

@media (min-width: 1400px) {
    .one_tab_now-arrow--desktop {
        transform: rotate(90deg);
        display: block;
        width: 30px;
        height: 25px;
    }
}

.section-two_arrow-top_text {
    transform: rotate(6deg);
}

.section-two_block_content {
    background: #fff;
    border-radius: 14px;
    width: 340px;
    height: 120px;
}

@media (max-width: 370px) {
    .section-two_block_content {
        width: 300px;
        height: 100px;
    }
}

@media (min-width: 400px) {
    .section-two_block_content {
        margin-left: 20px;
    }
}

@media (min-width: 1000px) {
    .section-two_block_content {
        width: 400px;
        height: 150px;
    }
}

@media (min-width: 1400px) {
    .section-two_block_content {
        width: 500px;
        height: 200px;
        border-radius: 16px;
        order: 2;
    }
}

.section-two_block-findtrend {
    background: #000;
    width: 290px;
    height: 70px;
    margin-top: 24px;
}

@media (max-width: 370px) {
    .section-two_block-findtrend {
        width: 250px;
        height: 50px;
    }
}

@media (min-width: 1000px) {
    .section-two_block-findtrend {
        margin-top: 40px;
    }
}

@media (min-width: 1400px) {
    .section-two_block-findtrend {
        margin: 60px 0;
        width: 340px;
        height: 80px;
    }
}

.section-two_block-findtrend_text {
    color: #fff;
    font-family: 'roboto', sans-serif;
    font-size: 20px;
    text-align: center;
    padding-top: 23px;
}

@media (max-width: 370px) {
    .section-two_block-findtrend_text {
        font-size: 16px;
        padding-top: 16px;
    }
}

@media (min-width: 1400px) {
    .section-two_block-findtrend_text {
        font-size: 24px;
        padding: 27px 0;
    }
}

.section-two-findtrend-icon_info {
    width: 30px;
    height: 30px;
}

@media (max-width: 370px) {
    .section-two-findtrend-icon_info {
        width: 25px;
        height: 25px;
    }
}

.section-two_findtrend-bg {
    background-image: url('../img/main/section2/findtrend.png');
    background-size: contain;
    margin: 18px 12px 0 35px;
}

@media (max-width: 370px) {
    .section-two_findtrend-bg {
        margin-top: 12px;
    }
}

.section-two_block_arrow-bottom {
    text-align: center;
    width: 95px;
    font-family: 'GoodDog';
    font-size: 12px;
    position: relative;
    top: -20px;
}

@media (min-width: 1000px) {
    .section-two_block_arrow-bottom {
        font-size: 16px;
        width: 105px;
    }
}


@media (min-width: 1400px) {
    .section-two_block_arrow-bottom {
        order: 1;
        margin-right: 25px;
    }
}

@media (min-width: 1400px) {
    .solution-arrow {
        transform: rotate(90deg);
        width: 30px;
        height: 25px;
        margin-left: 25px;
    }
}

.section-two_paragraph {
    text-align: center;
    line-height: 150%;
    padding: 0 20px;
}

@media (min-width: 1000px) {
    .section-two_paragraph {
        font-size: 20px;
    }
}

@media (min-width: 1400px) {
    .section-two_paragraph {
        font-size: 18px;
        width: 670px;
    }
}

@media (min-width: 1400px) {
    .section-two_arrow-bottom_text {
        transform: rotate(6deg);
    }
}

.section-three {
    padding: 80px 0;
}

@media (max-width: 370px) {
    .section-three {
        padding: 40px 0;
    }
}

@media (min-width: 400px) {
    .section-three {
        padding: 40px 0;
    }
}

@media (min-width: 1400px) {
    .section-three {
        padding: 140px 0;
    }
}

.section-three_text {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 160px;
}

@media (max-width: 370px) {
    .section-three_text {
        margin-bottom: 100px;
    }
}

@media (min-width: 400px) {
    .section-three_text {
        margin-bottom: 80px;
    }
}

@media (min-width: 1400px) {
    .section-three_text {
        font-size: 64px;
        padding-bottom: 280px;
    }
}

.section-three_text-gray {
    color: #adadad;
}

.section-three_title {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 30px;
}

@media (min-width: 1400px) {
    .section-three_title {
        font-size: 64px;
        padding-bottom: 80px;
    }
}

.section-three_websites {
    flex-wrap: wrap;
}

@media (max-width: 370px) {
    .section-three_websites {
        justify-content: space-evenly;
    }
}

.section-three_website-image {
    width: 116px;
    height: 30px;
    text-align: center;
}

@media (min-width: 1000px) {
    .section-three_website-image {
        width: 150px;
        height: 40px;
    }
}

@media (min-width: 1400px) {
    .section-three_website-image {
        width: 190px;
        height: 40px;
    }
}

.section-three_website {
    background: #f5f5f5;
    border-radius: 8px;
    margin-bottom: 15px;
    justify-content: center;
    align-items: center;
    padding: 20px 22px;
}

@media (max-width: 370px) {
    .section-three_website {
        padding: 15px 10px;
    }
}

@media (min-width: 400px) {
    .section-three_website {
        padding: 30px 35px;
    }
}

@media (min-width: 1000px) {
    .section-three_website {
        padding: 35px 40px;
    }
}

@media (min-width: 1400px) {
    .section-three_website {
        width: 266px;
        height: 120px;
    }
}

.section-three--link {
    display: block;
    width: 115px;
    height: 30px;
}

@media (min-width: 1000px) {
    .section-three--link {
        width: 150px;
        height: 40px;
    }
}

@media (min-width: 1400px) {
    .section-three--link {
        width: 190px;
        height: 50px;
    }
}

.section-four {
    background: #fafafa;
    padding: 80px 0;
}

@media (max-width: 370px) {
    .section-four {
        padding: 40px 0;
    }
}

@media (min-width: 400px) {
    .section-four {
        padding: 40px 0;
    }
}

@media (min-width: 1400px) {
    .section-four {
        padding: 140px 0;
    }
}

.section-four_title {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
}

.section-four_networks {
    min-width: 625px;
    margin: 32px 0;
}

.section-four_network {
    width: 48px;
    height: 64px;
    background: #fff;
    border-radius: 8px;
    padding-left: 16px;
}

@media (min-width: 1000px) {
    .section-four_network {
        width: 100px;
        height: 100px;
        padding: 20px;
    }
}

@media (min-width: 1000px) {
    .section-four_network:hover {
        background-color: #A8FF35;
    }
}

@media (min-width: 1400px) {
    .section-four_network {
        width: 124px;
        height: 124px;
        padding: 32px;
    }
}


@media (min-width: 1000px) {
    .section-four__desktop-networks {
        width: 97%;
        display: flex;
        margin: 50px 0;
    }
}

@media (min-width: 1400px) {
    .section-four__desktop-networks {
        display: flex;
        margin: 80px 60px;
    }
}

.section-four_button {
    height: 45px;
    background-color: #000;
    font-weight: 700;
    color: #fff;
    line-height: 140%;
    padding: 0 24px;
    border-radius: 40px;
    align-self: center;
}

@media (min-width: 760px) {
    .section-four_button {
        height: 60px;
        padding: 0 32px;
        font-size: 18px;
    }
}

@media (min-width: 1400px) {
    .section-four_button {
        height: 60px;
        padding: 0 32px;
        font-size: 18px;
    }
}

.section-four__tweet--radiation-risk {
    margin-bottom: 16px;
}

@media (max-width: 370px) {
    .section-four__tweet--radiation-risk {
        width: 300px;
    }
}

@media (min-width: 400px) {
    .section-four__tweet--radiation-risk {
        width: 390px;
    }
}

@media (min-width: 760px) {
    .section-four__tweet--radiation-risk {
        width: 720px;
    }
}

@media (min-width: 1400px) {
    .section-four__tweet--radiation-risk {
        width: 800px;
        height: 274px;
        margin-bottom: 30px;
    }
}

.section-four__tweet--mask-and-tesla {
    margin-bottom: 165px;
}

@media (max-width: 370px) {
    .section-four__tweet--mask-and-tesla {
        width: 300px;
        margin-bottom: 80px;
    }
}

@media (min-width: 400px) {
    .section-four__tweet--mask-and-tesla {
        width: 390px;
        margin-bottom: 80px;
    }
}

@media (min-width: 760px) {
    .section-four__tweet--mask-and-tesla {
        width: 720px;
        margin-bottom: 80px;
    }
}

@media (min-width: 1400px) {
    .section-four__tweet--mask-and-tesla {
        width: 800px;
        height: 804px;
        margin-bottom: 80px;
    }
}

.section-five {
    background: #000;
    padding: 80px 0;
}

@media (max-width: 370px) {
    .section-five {
        padding: 40px 0;
    }
}

@media (min-width: 400px) {
    .section-five {
        padding: 40px 0;
    }
}

@media (min-width: 1400px) {
    .section-five {
        padding: 140px 0;
    }
}

.section-five_title {
    color: #fff;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 32px;
}

@media (min-width: 1400px) {
    .section-five_title {
        font-size: 64px;
        padding-bottom: 40px;
    }
}

.section-five_button {
    justify-content: space-evenly;
}

@media (min-width: 760px) {
    .section-five_button {
        width: 400px;
        margin-left: 160px;
    }
}

@media (min-width: 1000px) {
    .section-five_button {
        margin: 0 0 20px 340px;
    }
}

@media (min-width: 1400px) {
    .section-five_button {
        width: 425px;
        justify-content: space-between;
        margin: 0 auto 40px;
    }
}

.section-five_button-left_text {
    color: #fff;
    font-family: 'inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

@media (min-width: 1400px) {
    .section-five_button-left_text {
        font-size: 24px;
    }
}

.section-five_button-right_text {
    color: #f5f5f5;
    font-family: 'inter', sans-serif;
    font-size: 18px;
    font-weight: 500;
    opacity: 0.5;
}

@media (min-width: 1400px) {
    .section-five_button-right_text {
        font-size: 24px;
    }
}

@media (min-width: 1000px) {
    .section-five__arrow-desktop {
        display: block;
    }
}

.section-five__arrow-mobile {
    width: 64px;
    text-align: center;
    margin-left: 210px;
}

@media (min-width: 760px) {
    .section-five__arrow-mobile {
        margin-left: 400px;
    }
}

@media (min-width: 1000px) {
    .section-five__arrow-mobile {
        display: none;
    }
}

.section-five__arrow--text {
    font-family: 'GoodDog', sans-serif;
    color: #fff;
    font-size: 12px;
    width: 60px;
    padding-left: 10px;
    margin-bottom: 20px;
    transform: rotate(6deg);
}

@media (min-width: 1000px) {
    .section-five__arrow--text {
        font-size: 16px;
        width: 100px;
        text-align: center;
        margin: 0;
    }
}

@media (min-width: 1400px) {
    .section-five__arrow--text {
        margin: 0;
    }
}

@media (min-width: 1400px) {
    .section-five__arrow-desktop--img {
        width: 30px;
        height: 30px;
    }
}

@media (min-width: 1400px) {
    .section-five__cards {
        display: flex;
        justify-content: space-between;
    }
}

.section-five__white-card {
    background: #fff;
    border-radius: 15px;
    padding: 30px 0 25px 0;
    margin-bottom: 24px;
}

@media (min-width: 760px) {
    .section-five__white-card {
        width: 370px;
        margin: 0 auto;
    }
}

@media (min-width: 1400px) {
    .section-five__white-card {
        position: relative;
    }
}

.section-five_card-container {
    width: 280px;
    margin: 0 auto;
}

.section-five_personal-main_title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 14px;
}

.section-five_personal-title {
    font-size: 18px;
    margin-bottom: 24px;
}

.section-five_personal-line {
    opacity: 0.2;
    width: 280px;
    margin-bottom: 30px;
    border: solid 1px black;
}

.section-five_price {
    font-size: 60px;
    font-weight: 700;
}

.section-five_price span {
    font-size: 18px;
    font-weight: 400;
}

.section-five_personal-list {
    margin-bottom: 170px;
}

@media (max-width: 370px) {
    .section-five_personal-list {
        margin-bottom: 120px;
    }
}

@media (min-width: 1400px) {
    .section-five_personal-list {
        padding-bottom: 100px;
    }
}

.section-five_personal-list li {
    margin-top: 24px;
    font-size: 18px;
}

@media (max-width: 370px) {
    .section-five_personal-list li {
        margin-top: 14px;
    }
}

.section-five_personal-list-icon {
    background: url('../img/icons/check.png') left center no-repeat;
    padding-left: 20px;
}

.section-five_personal_button {
    background: #A8FF35;
    border-radius: 27px;
    font-size: 18px;
    font-weight: 700;
    line-height: 140%;
    width: 280px;
    padding: 15px 0;
}

@media (min-width: 1400px) {
    .section-five_personal_button {
        position: absolute;
        top: 550px;
    }
}

/* ------------------------------------ */
.section-five__green-card {
    background: #A8FF35;
    border-radius: 15px;
    padding: 30px 0 25px 0;
    margin-bottom: 24px;
}

@media (min-width: 760px) {
    .section-five__green-card {
        width: 370px;
        margin: 0 auto 24px;
        position: relative;
    }
}

@media (min-width: 1400px) {
    .section-five__green-card {
        width: 360px;
    }
}

.section-five_card-container {
    width: 280px;
}

.section-five_regular-main_title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 14px;
}

.section-five_regular-title {
    font-size: 18px;
    margin-bottom: 24px;
}

.section-five_regular-line {
    opacity: 0.2;
    width: 280px;
    margin-bottom: 30px;
    border: solid 1px black;
}

.section-five_price {
    font-size: 60px;
    font-weight: 700;
}

.section-five_price span {
    font-size: 18px;
    font-weight: 400;
}

.section-five_regular-list {
    margin-bottom: 120px;
}

@media (max-width: 370px) {
    .section-five_regular-list {
        margin-bottom: 70px;
    }
}

@media (min-width: 1400px) {
    .section-five_regular-list {
        padding-bottom: 80px;
    }
}

.section-five_regular-list li {
    margin-top: 24px;
    font-size: 18px;
}

@media (max-width: 370px) {
    .section-five_regular-list li {
        margin-top: 14px;
    }
}

.section-five-list-icon {
    background: url('../img/icons/check.png') left center no-repeat;
    padding-left: 20px;
}

.section-five_regular_button {
    background: #000;
    color: #fff;
    border-radius: 27px;
    font-size: 18px;
    font-weight: 700;
    line-height: 140%;
    width: 280px;
    padding: 15px 0;
}

@media (min-width: 1400px) {
    .section-five_regular_button {
        position: absolute;
        top: 550px;
    }
}

/* ------------------ */
.section-five__white-card {
    background: #fff;
    border-radius: 15px;
    padding: 30px 0 25px 0;
    margin-bottom: 24px;
}

@media (min-width: 1400px) {
    .section-five__white-card {
        position: relative;
    }
}

.section-five_card-container {
    width: 280px;
    margin: 0 auto;
}

.section-five_personal-mvp-main_title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 14px;
}

.section-five_personal-mvp-title {
    font-size: 18px;
    margin-bottom: 24px;
}

.section-five_personal-mvp-line {
    opacity: 0.2;
    width: 280px;
    margin-bottom: 30px;
    border: solid 1px black;
}

.section-five_price {
    font-size: 60px;
    font-weight: 700;
}

.section-five_price span {
    font-size: 18px;
    font-weight: 400;
}

.section-five_personal-mvp-list {
    margin-bottom: 26px;
}

.section-five_personal-mvp-list li {
    margin-top: 24px;
    font-size: 18px;
}

@media (max-width: 370px) {
    .section-five_personal-mvp-list li {
        margin-top: 14px;
    }
}

.section-five_personal-mvp-list-icon {
    background: url('../img/icons/check.png') left center no-repeat;
    padding-left: 20px;
}

.section-five_personal-mvp_button {
    background: #A8FF35;
    border-radius: 27px;
    font-size: 18px;
    font-weight: 700;
    line-height: 140%;
    width: 280px;
    padding: 15px 0;
}

@media (min-width: 1400px) {
    .section-five_personal-mvp_button {
        position: absolute;
        top: 550px;
    }
}

.section-six {
    background: #A8FF35;
    padding: 80px 0;
}

@media (max-width: 370px) {
    .section-six {
        padding: 40px 0;
    }
}

@media (min-width: 1400px) {
    .section-six {
        padding: 140px 0;
    }
}

.section-six_text {
    font-size: 36px;
    font-weight: 800;
    line-height: 112%;
    text-align: center;
    margin-bottom: 30px;
}

@media (min-width: 1400px) {
    .section-six_text {
        font-size: 72px;
        width: 740px;
        padding-bottom: 40px;
    }
}

.section-six_text span {
    color: #87D322;
}

.section-six_button {
    width: 106px;
    padding: 12px 0;
    border-radius: 40px;
    background: #000;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

@media (min-width: 760px) {
    .section-six_button {
        width: 180px;
        font-size: 18px;
        padding: 16px 0;
    }
}

@media (min-width: 1400px) {
    .section-six_button {
        width: 180px;
        font-size: 18px;
        padding: 16px 0;
    }
}

.footer {
    padding: 80px 0;
}

@media (max-width: 370px) {
    .footer {
        padding: 40px;
    }
}

@media (min-width: 400px) {
    .footer {
        padding: 40px 0;
    }
}

@media (min-width: 1000px) {
    .footer {
        padding: 40px;
    }
}

.footer_wrapper {
    flex-direction: column;
}

@media (min-width: 1000px) {
    .footer_wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
        height: 41px;
    }
}

@media (min-width: 1400px) {
    .footer_wrapper {

    }
}

.footer_logo {
    margin-bottom: 40px;
}

.footer_logo__link {
    display: block;
    width: 170px;
    height: 41px;
}

@media screen and (min-width: 1400px) {
    .footer-inner {
        margin: 30px -40px 0 -60px;
    }
}

.footer_navigation {
    text-align: center;
    font-size: 18px;
}

@media (min-width: 1000px) {
    .footer_navigation {
        height: 20px;
    }
}

.footer_navigation__item {
    margin-top: 40px;
}

@media (min-width: 1000px) {
    .footer_navigation__item {
        margin: 15px;
    }
}

@media (min-width: 1000px) {
    .footer_navigation__list {
        min-width: 500px;
        display: flex;
        justify-content: space-between;
        height: 20px;
    }
}

@media (min-width: 1400px) {
    .footer_navigation__list {
        min-width: 545px;
        height: 20px;
    }
}

.footer_navigation__link {
    color: #000;
}

@media (min-width: 1400px) {
    .footer_navigation__item {
        margin: 10px 0 0 0;
    }
}